.bold {
    font-weight: bold;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.font-700 {
    font-weight: 700;
}
.font-600 {
    font-weight: 600;
}
.font-400 {
    font-weight: 400;
}
.relative {
    position: relative;
}